
body {
  background-color: #C5DFD4;
}

p {
  /*float:left;*/
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  font-family: Andale Mono;
  background-color: black;
  color: white;
  width: 600px;
  border-radius: 15px;
}

.game-canvas {
  border: 1px solid black;
  margin:  20px auto;
  display: block
  }

.images  {
  margin-left: -500px;
}
